.main{
    width: 60%;
    margin: 0 auto;
    background: palegoldenrod;
    height: 620px;
}
.upBtn{
    float: left;
    margin: -10px 0 0 0
}
.leftBtn{
    float: left;
    margin: 17px 0 0 -130px
}
.rightBtn{
    position: absolute;
    float: left;
    margin: 17px 0 0 2px
}
.downBtn{
    float: left;
    margin: 40px 0 0 0;
}
@media screen and (min-width: 760px) {
    .fangxiang{
     display: none
    }
}
@media screen and (max-width: 415px) {
     .main{ 
     width: 100%;
     height: auto;
     }
     .main1{
         width: 16%;
         height: auto;
         margin: 0 auto;
         padding-top: 15px;
     }
    .fangxiang{
        margin: 0 auto;
        width: 100%;
        height: 140px;
    }
    .fangxiang Button{
        width: 65px;
        height: 35px
    }
}