.cure{
    width: 100px;
    height: 100px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: goldenrod;
    background: goldenrod;
    border-radius: 10px;
    transition:background .5s ease-in;
    transition:color .7s ease-in;
}
.text{
    text-align: center;
    line-height: 100px;
    font-size: 24px;
}